@import "../../../../styles.scss";

.header {
  @include width(100%, 1920px);
  @include display-flex($jc: space-between);
  box-sizing: border-box;
  padding: 37px 100px;
}

.logo {
  @include font(35px, bold, 35px);
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    color: unset;
  }
}

.link-group {
  @include display-flex($jc: flex-end);
  height: 32px;
  gap: 29px;
}

.menu-btn {
  @include size(30px, 27.72px);
  display: none;
  cursor: pointer;
}

.burger-btn {
  content: url("../../../../assets/img/burger_menu.svg");

  &:active {
    content: url("../../../../assets/img/menu_transition.svg");
  }
}

.close-btn {
  content: url("../../../../assets/img/close_button.svg");

  &:active {
    content: url("../../../../assets/img/close_transition.svg");
  }
}

@media (max-width: 1920px) {
  .header {
    padding: 37px 48px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 37px 24px;
  }

  .link-group {
    display: none;
  }

  .menu-btn {
    display: unset;
  }
}
