@import "../../../../styles.scss";

.logo {
  @include font(35px, bold, 35px);
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    color: unset;
  }
}

.link-group {
  @include display-flex(flex-end, flex-start);
  @include size(326px, 32px);
  gap: 29px;
}

.menu {
  @include size(30px, 27.72px);
  display: none;
}

@media (max-width: 768px) {
  .link-group {
    display: none;
  }

  .menu {
    display: unset;
  }
}
