@import "../../styles.scss";

.main {
  @include display-flex($ai: flex-start);
}

.content {
  max-width: 1920px;
  width: 100%;
  position: relative;
}

.hero {
  @include display-column($jc: space-between, $g: 24px);
  box-sizing: border-box;
  padding: 109px 100px 24px 100px;
  height: 100vh;
}

.about-me {
  @include display-flex($jc: flex-start);
  padding: 156px 0 24px 100px;
  gap: 149px;
  position: relative;
}

.my-skills {
  @include display-flex(flex-end, flex-start);
  padding: 156px 0 24px 100px;
  min-height: 404px;
  gap: 88px;
  position: relative;
}

.portfolio {
  @include display-column($ai: flex-end, $g: 40px);
  padding: 156px 0 24px 100px;
  position: relative;
}

.contact {
  @include display-column($g: 40px);
  padding: 156px 100px 90px 0;
  position: relative;
}

@media (max-width: 1439px) {
  .about-me {
    gap: 64px;
  }

  .my-skills {
    gap: 64px;
  }
}

@media (max-width: 1280px) {
  .hero {
    padding: 109px 48px 24px 48px;
  }

  .about-me {
    padding: 132px 24px 24px 24px;
    justify-content: center;
  }

  .my-skills {
    @include display-column($ai: center, $g: 24px);
    padding: 132px 0 24px 0;
  }

  .portfolio {
    padding: 132px 0 24px 24px;
    gap: 32px;
  }

  .contact {
    padding: 132px 24px 48px 0;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 109px 24px 24px 24px;
  }
}

@media (max-width: 373px) {
  .portfolio {
    align-items: flex-start;
  }
}

@media (max-height: 600px) {
  .hero {
    gap: 0;
  }
}
