<section id="about-me" class="about-me">
    <div class="text-box">
        <h2 class="headline-2 w-471">About me</h2>
        <div class="about-me-content">
            <p class="intro-text">
                Hi, I’m a german speaking Frontend Developer based near Munich. Motivated by the limitless
                opportunities within IT, I am excited about crafting visually captivating and intuitive websites
                and applications.
            </p>

            <!-- new component !!! -->
            <div class="intro-list">
                <div class="intro-list-item">
                    <img src="../assets/img/location.svg" alt="location">
                    <p>Flexible in terms of working environments, I can work effectively both on-site in Munich
                        and
                        remotely.</p>
                </div>
                <div class="intro-list-item">
                    <img src="../assets/img/bulb.svg" alt="bulb">
                    <p>I am open-minded and always looking for personal challenges to constantly improve my
                        knowledge and skills.</p>
                </div>
                <div class="intro-list-item">
                    <img src="../assets/img/puzzle.svg" alt="puzzle">
                    <p>In my profession, programming isn't just about writing code; it's a creative form of
                        problem-solving. I take pride in my ability to distill complex technical challenges into
                        simple, user-friendly solutions. This way, I help you achieve your goals and bring your
                        visions to life.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="img-box">
        <div class="img"></div>
        <img src="../assets/img/image_line.svg" alt="image-line">
    </div>
</section>