@import "../../styles.scss";

.about-me {
  @include display-flex(flex-end, center);
  padding: 156px 0 24px 100px;
  gap: 149px;
}

.text-box {
  @include display-flex($jc: flex-start);
  @include display-column($g: 40px);
}

.w-471 {
  width: 471px;
}

.about-me-content {
  @include display-column(center, center, 32px);
}

.intro-text {
  @include font(16px, 400, 19.2px);
}

.intro-list {
  @include display-column(center, center, 24px);
}

.img-box {
  @include display-flex($jc: flex-start);
  min-width: 453px;
  overflow-x: clip;
}

.img {
  @include size(453px, 453px);
  box-sizing: border-box;
  min-width: 453px;
  min-height: 453px;
  background-image: url("../../assets/img/profile.png");
  background-position: -12px -0;
  background-repeat: no-repeat;
  border: 4px solid $prim1;
  border-radius: 50%;
}

@media (max-width: 1180px) {
  .about-me {
    gap: 64px;
  }

  .w-471 {
    width: 455px;
  }
}
