@import "../../styles.scss";

.about-me {
  @include display-flex(flex-end, center);
  @include position(relative);
  padding: 156px 0 24px 100px;
  background-image: url("../../assets/img/about_me_shadow.svg");
  background-position: 1600px -100px;
  background-repeat: no-repeat;
  gap: 149px;
  overflow-x: hidden;
}

.text-box {
  @include display-flex($jc: flex-start);
  @include display-column($g: 40px);
}

.w-471 {
  width: 471px;
}

.about-me-content {
  @include display-column(center, center, 32px);
}

.intro-text {
  @include font(16px, 400, 19.2px);
}

.intro-list {
  @include display-column(center, center, 24px);
}

.img-box {
  @include display-flex();
}

.img {
  box-sizing: border-box;
  width: 453px;
  height: 453px;
  border: 4px solid $prim1;
  border-radius: 50%;
}
