@import "../../styles.scss";

.hero-main {
  @include display-flex($jc: flex-start);
  height: 100%;
}

.hero-box {
  margin: 24px 0 0 48px;
  width: 646px;
  height: calc(100% - 24px);
  position: relative;

  // to delete
  // border: 1px solid $prim1;
}

.hero-subbox {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  // width: 120%;
  // width: 559px; // to edit
  position: relative;
  top: 96px;
  z-index: -1;
}

.img {
  height: 110%;
  position: relative;
  left: 12px;
  z-index: -1;
}

.bg {
  min-width: 1920px;
  position: relative;
  left: -48px;
  top: 476px;
  z-index: -1;
}

.jc-start {
  justify-content: flex-start;
}

.text-button-box {
  @include display-column($ai: center);
  margin-left: -24px;
}

.text {
  @include display-flex($jc: flex-end);
  height: 172px;
  gap: 35px;
}

.vert-text {
  @include display-flex();
  max-width: 63px;
  max-height: 152px;
}

.me-text {
  @include font(64px, 400, 76.8px);
  min-width: 152px;
  min-height: 63px;
  display: block;
  transform: rotate(-90deg);
}

.horiz-text {
  @include display-column($g: 0px);
}

.name {
  @include font(90px, 700, 108px);
}

.occupation {
  @include font(58px, 400, 69.6px);
  color: $prim2;
  text-transform: uppercase;
}

.hero-bottom {
  @include display-flex($jc: space-between, $ai: flex-end);
  width: 100%;
  max-height: 40px;
}

.contact-bar {
  @include display-flex($jc: flex-start);
  height: 40px;
  gap: 32px;
}

.vector {
  content: url("../../assets/img/mail_vector.svg");
}

.hero-email {
  @include font();
  cursor: pointer;
  transition: all 75ms ease-in-out;
}

.scroll-hint-box {
  @include font();
  @include display-column($ai: center, $g: 3px);
}

.scroll-hint {
  writing-mode: vertical-lr;
}

@media (max-width: 1779px) {
  .hero-main {
    gap: 35px;
  }

  .hero-box {
    width: 440px;
  }

  .bg {
    left: -158px;
  }

  .text-button-box {
    margin-left: 0;
  }

  .text {
    height: 142px;
    gap: 24px;
  }

  .vert-text {
    max-width: 52px;
    max-height: 122px;
  }

  .me-text {
    @include font(52px, 400, 62.4px);
    min-width: 122px;
    min-height: 52px;
  }

  .name {
    @include font(74px, 700, 88.8px);
  }

  .occupation {
    @include font(48px, 400, 57.6px);
  }
}

@media (max-width: 1451px) {
  .hero-main {
    gap: 48px;
  }

  .hero-box {
    width: 380px;
  }

  .bg {
    left: -198px;
  }

  .text {
    height: 109px;
    gap: 16px;
  }

  .vert-text {
    max-width: 40px;
    max-height: 94px;
  }

  .me-text {
    @include font(40px, 400, 48px);
    min-width: 94px;
    min-height: 40px;
  }

  .name {
    @include font(58px, 700, 69.6px);
  }

  .occupation {
    @include font(38px, 400, 45.6px);
  }
}

@media (max-width: 1280px) {
  .hero-main {
    @include display-column($ai: center);
    width: 100%;
    gap: 24px;
  }

  .hero-box {
    margin: 24px 0 0 0;
  }

  .bg {
    min-width: 2550px;
    left: -448px;
    top: 436px;
  }

  .text {
    height: 89px;
    gap: 14px;
  }

  .vert-text {
    max-width: 34px;
    max-height: 80px;
  }

  .me-text {
    @include font(34px, 400, 40.8px);
    min-width: 80px;
    min-height: 34px;
  }

  .name {
    @include font(48px, 700, 57.6px);
  }

  .occupation {
    @include font(32px, 400, 38.4px);
  }

  .hero-email {
    display: none;
  }

  .scroll-hint-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .bg {
    top: 448px;
  }

  .text {
    height: 74px;
    gap: 12px;
  }

  .vert-text {
    max-width: 28px;
    max-height: 66px;
  }

  .me-text {
    @include font(28px, 400, 33.6px);
    min-width: 66px;
    min-height: 28px;
  }

  .name {
    @include font(40px, 700, 48px);
  }

  .occupation {
    @include font(27px, 400, 32.4px);
  }

  .vector {
    content: url("../../assets/img/mail_vector_mobile.svg");
  }
}

@media (max-width: 502px) {
  .bg {
    top: 460px;
  }

  .text {
    height: 50px;
    gap: 10px;
  }

  .vert-text {
    max-width: 19px;
    max-height: 45px;
  }

  .me-text {
    @include font(19px, 400, 22.8px);
    min-width: 45px;
    min-height: 19px;
  }

  .name {
    @include font(28px, 700, 33.6px);
  }

  .occupation {
    @include font(19px, 400, 22.8px);
  }
}

@media (max-width: 356px) {
  .bg {
    top: 468px;
  }

  .text {
    height: 37px;
    gap: 8px;
  }

  .vert-text {
    display: none;
  }

  .name {
    @include font(24px, 700, 28.8px);
    width: 100%;
    text-align: center;
  }

  .occupation {
    @include font(16px, 400, 19.2px);
    width: 100%;
    text-align: center;
  }
}
