@import "../../styles.scss";

.hero {
  @include display-column(space-between, flex-end, 0px);
  @include position(relative);
  box-sizing: border-box;
  margin-top: 109px;
  padding: 188px 100px 24px 0;
  height: calc(100vh - 109px);
}

.hero-bg {
  @include size($w: 100%);
  @include position(absolute, 0, 228.6px);
  z-index: -1;
}

.hero-shadow {
  @include size(859px, 820px);
  @include position(absolute, -48px, 48px);
  background-image: url("../../assets/img/hero_shadow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.hero-img-box {
  @include position(relative, 0, 0);
}

// add photo!!!
.hero-img {
  @include size(646px, 705px);
  @include position(absolute, 120px, -64px);
}

.content {
  @include display-column($jc: center, $ai: center);
}

.text {
  @include display-flex($jc: flex-end);
}

.vert-text {
  @include font(64px, 400, 76.8px);
  min-width: 152px;
  height: 63px;
  transform: rotate(-90deg);
}

.horiz-text {
  @include display-column($jc: center, $g: 0px);
  max-height: 172px;
}

.name {
  @include font(90px, 700, 108px);
}

.occupation {
  @include font(58px, 400, 69.6px);
  color: $prim2;
}

.hero-bottom {
  @include display-flex($jc: space-between, $ai: flex-end);
  width: 100%;
}

.contact-bar {
  @include display-flex($jc: flex-start);
  height: 40px;
  gap: 32px;
}

.hero-email {
  @include font();
  transition: all 75ms ease-in-out;
}

.scroll-hint-box {
  @include font();
  @include display-column($ai: center, $g: 3px);
}

.scroll-hint {
  writing-mode: vertical-lr;
}
