<section id="hero" class="hero">

    <img class="hero-bg" src="../../assets/img/hero_background.svg" alt="hero-bg">

    <div class="hero-shadow">
        <div class="hero-img-box">
            <div class="hero-img"></div>
        </div>
    </div>

    <article class="content">
        <div class="text">
            <span class="vert-text">I am</span>
            <div class="horiz-text">
                <span class="name">Rudolf Sachslehner</span>
                <span class="occupation">Frontend Developer</span>
            </div>
        </div>
        <button id="hero-btn" class="prim-btn" (click)="scroll()">Let´s talk!</button>
    </article>

    <div class="hero-bottom">
        <div class="contact-bar">
            <img src="../../assets/img/mail_vector.svg" alt="mail-vector">
            <button class="social-btn git-hub-btn" (click)="redirect('https://github.com/')"></button>
            <button class="social-btn email-btn" (click)="redirect('mailto:ahasver.loewenkoenig@gmail.com')"></button>
            <button class="social-btn linked-in-btn" (click)="redirect('https://www.linkedin.com/')"></button>
            <a class="hero-email" href="mailto:ahasver.loewenkoenig@gmail.com">ahasver.loewenkoenig&#64;gmail.com</a>
        </div>

        <div class="scroll-hint-box">
            <span class="scroll-hint">Scroll down</span>
            <img src="../assets/img/arrow_down.png" alt="arrow-down">
        </div>
    </div>
</section>