<article class="content desktop">
    <div class="text">
        <div class="vert-text">
            <span class="me-text">I am</span>
        </div>
        <div class="horiz-text">
            <span class="name">Rudolf Sachslehner</span>
            <span class="occupation">Frontend Developer</span>
        </div>
    </div>
    <button id="hero-btn" class="prim-btn" (click)="linkData.scroll('#contact')">{{ update().heroButton }}</button>
</article>
<div class="hero-bottom desktop">
    <div class="contact-bar">
        <img class="vector" alt="vector">
        <button class="social-btn git-hub-btn" (click)="linkData.redirect('https://github.com/')"></button>
        <button class="social-btn email-btn" (click)="linkData.scroll('#contact')"></button>
        <button class="social-btn linked-in-btn" (click)="linkData.redirect('https://www.linkedin.com/')"></button>
        <a class="hero-email" (click)="linkData.scroll('#contact')">rudolf.sachslehner&#64;gmx.at</a>
    </div>

    <div class="scroll-hint-box">
        <span class="scroll-hint">{{ update().scrollHint }}</span>
        <img src="../assets/img/arrow_down.png" alt="arrow-down">
    </div>
</div>

<article class="mobile-content">
    <div class="hero-box">
        <img class="hero-shadow" src="../assets/img/hero_shadow.svg" alt="hero-shadow">
        <img class="hero-img" src="../assets/img/hero.png" alt="hero">
        <img class="hero-bg" src="../assets/img/hero_bg.svg" alt="hero-bg">
    </div>

    <div class="hero-content">
        <div class="text">
            <div class="vert-text">
                <span class="me-text">I am</span>
            </div>
            <div class="horiz-text">
                <span class="name">Rudolf Sachslehner</span>
                <span class="occupation">Frontend Developer</span>
            </div>
        </div>
        <button id="mobile-hero-btn" class="prim-btn" (click)="linkData.scroll('#contact')">{{ update().heroButton
            }}</button>
        <div class="contact-bar">
            <img class="vector" alt="vector">
            <div class="social-btn-group">
                <button class="social-btn git-hub-btn" (click)="linkData.redirect('https://github.com/')"></button>
                <button class="social-btn email-btn" (click)="linkData.scroll('#contact')"></button>
                <button class="social-btn linked-in-btn"
                    (click)="linkData.redirect('https://www.linkedin.com/')"></button>
            </div>
        </div>
    </div>
</article>