@import "../../styles.scss";

.hero-main {
  @include display-flex($jc: flex-start);
  height: 100%;
}

.hero-box {
  margin: 24px 0 0 48px;
  width: 646px;
  height: calc(100% - 24px);
  position: relative;

  // to delete
  // border: 1px solid $prim1;
}

.hero-subbox {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  // width: 120%;
  // width: 559px; // to edit
  position: relative;
  top: 96px;
  z-index: -1;
}

.img {
  height: 110%;
  position: relative;
  left: 20px;
  z-index: -1;
}

.bg {
  min-width: 1920px;
  position: relative;
  left: -48px;
  top: 476px;
  z-index: -1;
}

.jc-start {
  justify-content: flex-start;
}

.text-button-box {
  @include display-column($ai: center);
  margin-left: -24px;
}

.text {
  @include display-flex($jc: flex-end);
  height: 172px;
  gap: 35px;
}

.vert-text {
  @include display-flex();
  max-width: 63px;
  max-height: 152px;
}

.me-text {
  @include font(64px, 400, 76.8px);
  min-width: 152px;
  min-height: 63px;
  display: block;
  transform: rotate(-90deg);
}

.horiz-text {
  @include display-column($g: 0px);
}

.name {
  @include font(90px, 700, 108px);
}

.occupation {
  @include font(58px, 400, 69.6px);
  color: $prim2;
  text-transform: uppercase;
}

.hero-bottom {
  @include display-flex($jc: space-between, $ai: flex-end);
  width: 100%;
  max-height: 40px;
}

.contact-bar {
  @include display-flex($jc: flex-start);
  height: 40px;
  gap: 32px;
}

.vector {
  content: url("../../assets/img/mail_vector.svg");
}

.hero-email {
  @include font();
  cursor: pointer;
  transition: all 75ms ease-in-out;
}

.scroll-hint-box {
  @include font();
  @include display-column($ai: center, $g: 3px);
}

.scroll-hint {
  writing-mode: vertical-lr;
}

@media (max-width: 1762px) {
  .text {
    height: 142px;
    gap: 24px;
  }

  .vert-text {
    max-width: 52px;
    max-height: 122px;
  }

  .me-text {
    @include font(52px, 400, 62.4px);
    min-width: 122px;
    min-height: 52px;
  }

  .name {
    @include font(74px, 700, 88.8px);
  }

  .occupation {
    @include font(50px, 400, 60px);
  }
}
