<div class="title-box">
    <img class="vector" alt="vector">
    <h2 class="headline-2 ta-center">{{ update().headlines[3] }}</h2>
</div>

<div class="content">
    <div class="hint-box">
        <h3 class="hint-title">{{ update().contactIntro }}</h3>
        <div class="hint-text-group">
            <p>{{ update().contactText }}</p>
            <span>{{ update().contactLine[0] }} <b>{{ update().contactLine[1] }}</b></span>
        </div>
    </div>

    <div class="right-content">
        <app-form></app-form>
        <a class="top-arrow" href="#top"></a>
    </div>
</div>