@import "../../mixins.scss";
@import "../../styles.scss";

.contact {
  @include display-column($g: 40px);
  padding: 156px 100px 90px 0;
}

.title-box {
  display: flex;
  gap: 32px;
}

.ta-center {
  text-align: center;
}

.content {
  padding-left: 100px;
  display: flex;
  gap: 149px;
}

.hint-box {
  @include display-column($g: 24px);
  width: 474px;
}

.hint-title {
  @include font(32px, 700, 38.4px);
  margin: 0;
}

.hint-text-group {
  @include font(16px, 400, 19.2px);
  @include display-column($g: 16px);
}

.right-content {
  @include display-column($ai: flex-end, $g: 42px);
}

.form-box {
  @include display-column($ai: center, $g: 16px);
}

.contact-form {
  @include display-column($g: 32px);
  width: 617px;
}

.input-box {
  @include size(100%, 50px);
  @include display-column($g: 10px);
  position: relative;
  transition: all 300ms ease-out;
  overflow-y: hidden;
}

.done {
  .contact-input {
    border: 1px solid #70e61c;
  }

  .check {
    display: unset;
  }
}

.error {
  height: 77px;

  .contact-input {
    color: #e61c40;
    border: 1px solid #e61c40;

    &::placeholder {
      color: #e61c40;
    }
  }

  .callsign {
    display: unset;
  }
}

input:focus,
textarea:focus {
  border: 1px solid $prim1;
  outline: none;
}

.contact-input {
  @include font(16px, 400, 19.2px);
  box-sizing: border-box;
  padding: 15px 25px;
  width: 100%;
  height: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid $prim2;
  border-radius: 10px;

  &::placeholder {
    color: #ffffff;
  }
}

.check {
  @include size(25px, 25px);
  display: none;
  position: absolute;
  top: 12.5px;
  right: 25px;
}

.callsign {
  @include size(25.05px, 25.05px);
  display: none;
  position: absolute;
  top: 12.4875px;
  right: 25px;
}

.hint {
  @include font(14px, 400, 16.8px);
  color: #e61c40;
}

// mixin???
.textarea-box {
  @include size(100%, 202px);
  @include display-column($g: 10px);
  position: relative;
  transition: all 300ms ease-out;
  overflow-y: hidden;
}

.filled {
  .contact-textarea {
    border: 1px solid #70e61c;
  }

  .check {
    display: unset;
  }
}

.empty {
  height: 229px;

  .contact-textarea {
    color: #e61c40;
    border: 1px solid #e61c40;

    &::placeholder {
      color: #e61c40;
    }
  }

  .callsign {
    display: unset;
  }
}

.contact-textarea {
  @include font(16px, 400, 19.2px);
  box-sizing: border-box;
  padding: 15px 25px;
  width: 100%;
  height: 202px;
  min-height: 202px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid $prim2;
  border-radius: 10px;

  &::placeholder {
    color: #ffffff;
  }

  &::-webkit-resizer {
    background-image: url("../../assets/img/resizer.svg");
    background-repeat: no-repeat;
    background-size: 13px 13px;
  }
}

.privacy-policy-box {
  @include display-column($g: 8px);
  width: 100%;
}

.privacy-policy-line {
  @include display-flex(flex-start, center);
  height: 27px;
  gap: 8px;
}

.checkbox {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.privacy-policy-text {
  @include font(14px, 400, 16.8px);
  margin: 0;
}

.privacy-policy-link {
  color: $prim2;

  &:hover {
    color: $prim2;
    text-decoration: underline;
  }
}

.check-hint {
  @include font(14px, 400, 16.8px);
  color: #e61c40;
  opacity: 0;
}

.top-arrow {
  @include size(39px, 39px);
  background-image: url("../../assets/img/go_up_white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 100ms ease-in-out;

  &:hover {
    background-image: url("../../assets/img/go_up.svg");
  }
}
