<section id="contact" class="contact">
    <div class="title-box">
        <img src="./../../assets/img/contact_vector.svg" alt="contact-vector">
        <h2 class="headline-2 ta-center">Contact</h2>
    </div>

    <div class="content">
        <div class="hint-box">
            <h3 class="hint-title">Got a problem to solve?</h3>
            <div class="hint-text-group">
                <p>
                    Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to your projects with my work.
                </p>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>

        <!-- if condition  for message (sample) -->
        <!-- style + script -->

        <div class="right-content">
            <form #contactForm="ngForm" class="form-box" (ngSubmit)="onSubmit(contactForm)">
                <div class="contact-form">
                    <input [(ngModel)]="contactData.name" name="name" class="contact-input" type="text"
                        placeholder="Your name" required>
                    <input [(ngModel)]="contactData.email" name="email" class="contact-input" type="text"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" placeholder="Your email" required>
                    <textarea [(ngModel)]="contactData.message" name="message" minlength="10" class="contact-textarea"
                        placeholder="Your message" required></textarea>
                </div>

                <div class="privacy-policy-box">
                    <div class="privacy-policy-line">
                        <img class="checkbox" src=".../../../../assets/img/check_button.svg" alt="check-button">
                        <p class="privacy-policy-text">
                            I've read the <a class="privacy-policy-link" href="">privacy policy</a> and agree to
                            the
                            processing of my data as outlined.
                        </p>
                    </div>
                    <span class="check-hint">Please accept the privacy policy.</span>
                </div>

                <button class="prim-btn">Send message :&#41;</button>
                <!-- <button class="prim-btn" disabled>Send message :&#41;</button> -->
            </form>

            <!-- position absolute -->
            <a class="top-arrow" href="#top"></a>
        </div>
    </div>
</section>