@import "../../styles.scss";

.title-box {
  display: flex;
  gap: 32px;
}

.vector {
  content: url("../../assets/img/contact_vector.svg");
}

.ta-center {
  text-align: center;
}

.content {
  padding-left: 100px;
  display: flex;
  gap: 149px;
}

.hint-box {
  @include display-column($g: 24px);
  width: 474px;
}

.hint-title {
  @include font(32px, 700, 38.4px);
  margin: 0;
}

.hint-text-group {
  @include font(16px, 400, 19.2px);
  @include display-column($g: 16px);
}

.right-content {
  @include display-column($ai: flex-end, $g: 42px);
  width: 617px;
  height: 598.39px;
  position: relative;
}

.top-arrow {
  @include size(39px, 39px);
  min-width: 39px;
  min-height: 39px;
  background-image: url("../../assets/img/go_up_white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 559.38px;
  transition: all 100ms ease-in-out;

  &:hover {
    background-image: url("../../assets/img/go_up.svg");
  }
}

@media (max-width: 1439px) {
  .right-content {
    width: 440px;
  }
}

@media (max-width: 1290px) {
  .content {
    gap: 64px;
  }

  .hint-box {
    width: 459px;
  }
}

@media (max-width: 1180px) {
  .content {
    box-sizing: border-box;
    padding-left: 24px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .title-box {
    gap: 16px;
  }

  .vector {
    content: url("../../assets/img/contact_vector_mobile.svg");
  }

  .hint-box {
    width: 100%;
    max-width: 459px;
    gap: 16px;
  }

  .hint-title {
    @include font();
  }

  .right-content {
    width: 100%;
    max-width: 440px;
  }
}
