@import "../../../../../mixins.scss";
@import "../../../../../styles.scss";

a {
  @include font();
  height: 32px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1px;

  &:hover {
    color: $prim1;
  }
}

svg {
  display: none;
}

// link selected !!!

// svg {
//   display: flex;
// }
