@import "../../../../../mixins.scss";
@import "../../../../../styles.scss";

.link {
  @include font();
  height: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.underline {
  display: none;
  width: 55.5px;
  height: 3px;
}

// link selected (with underline)!!!
