@import "../../styles.scss";

.portfolio {
  @include display-column($ai: flex-end, $g: 40px);
  padding: 156px 0 24px 136px;
}

.title-box {
  @include display-flex($jc: flex-end);
  width: fit-content;
  gap: 32px;
}

.ta-center {
  text-align: center;
}

.content {
  @include display-column($ai: center, $g: 32px);
  box-sizing: border-box;
  padding-right: 136px;
  width: 100%;
}

.hint-text {
  @include font(16px, 400, 19.2px);
  text-align: center;
}

.project-group {
  @include display-column($ai: center, $g: 80px);
  width: 1168px;
}

@media (max-width: 1439px) {
  .project-group {
    width: 1080px;
  }
}

@media (max-width: 1290px) {
  .portfolio {
    padding: 156px 0 24px 100px;
  }

  .project-group {
    width: 980px;
  }

  .content {
    padding-right: 100px;
  }
}
