<section class="portfolio">
    <div class="portfolio-content">
        <div class="portfolio-title-box">
            <img src="../../assets/img/portfolio_left_line.svg" alt="left-line">
            <h2 class="portfolio-title">Portfolio</h2>
            <img src="../../assets/img/portfolio_right_line.svg" alt="right-line">
        </div>
    </div>

    <!-- padding is wrong!!! -->
    <div class="projects">
        <div class="project-hint">
            <span class="project-hint-text">Explore a selection of my work here - Interact with projects to see my
                skills in action.</span>
        </div>
        <div class="project-group">
            <app-project *ngFor="let project of projects; index as i" [index]="i" [project]="projects[i]"></app-project>
        </div>
    </div>
</section>