<div class="title-box">
    <img class="left-line" alt="left-line">
    <h2 class="headline-2 ta-center">{{ print().headlines[2]}}</h2>
    <img class="right-line" alt="right-line">
</div>

<div class="content">
    <span class="hint-text">{{ print().projectIntro }}</span>

    <div class="project-group">
        <app-project *ngFor="let project of projects; index as i" [index]="i" [project]="project"></app-project>
    </div>
</div>

<img class="shadow" src="../../assets/img/skills_shadow.svg" alt="shadow">