@import "../../mixins.scss";
@import "../../styles.scss";

.portfolio {
  // to edit!!!
  height: 100vh;
}

.portfolio-content {
  margin-left: 136px;
}

.portfolio-title-box {
  @include display-flex($jc: flex-end);
  gap: 32px;
}

.portfolio-title {
  @include font(90px, 700, 108px);
  text-align: center;
}

.projects {
  width: 1168px;
}

.project-hint {
  margin-left: 353px;
  width: 733px;
  text-align: center;
}

.project-hint-text {
  @include font(16px, 400, 19.2px);
}
