@import "../styles.scss";

.header {
  @include display-flex($jc: space-between);
  @include position($p: fixed);
  box-sizing: border-box;
  padding: 37px 100px;
  width: 100%;
  max-width: 1920px;
  background-color: $primBg;
  z-index: 10;
}

.menu {
  @include display-flex();
  @include position(fixed, 0, 109px);
  box-sizing: border-box;
  padding-bottom: 109px;
  min-width: 100%;
  height: calc(100vh - 109px);
  background-color: rgba(20, 29, 47, 0.9);
  display: none;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.menu-out {
  left: 100%;
}

.main {
  max-width: 1920px;
  position: relative;
  overflow: clip;
}

.hero {
  @include display-column($jc: space-between, $g: 24px);
  box-sizing: border-box;
  padding: 109px 100px 24px 0;
  height: 100vh;
}

.about-me {
  @include display-flex(flex-end, center);
  padding: 156px 0 24px 100px;
  gap: 149px;
}

.my-skills {
  @include display-flex(flex-end, flex-start);
  padding: 156px 0 24px 100px;
  min-height: 404px;
  gap: 88px;
}

.portfolio {
  @include display-column($ai: flex-end, $g: 40px);
  padding: 156px 0 24px 136px;
}

.contact {
  @include display-column($g: 40px);
  padding: 156px 100px 90px 0;
}

.footer {
  @include display-flex($jc: space-between);
  box-sizing: border-box;
  padding: 0 100px;
  max-width: 1920px;
  height: 291px;
  border-top: 4px solid $prim1;
}

@media (min-width: 1920px) {
  .header {
    left: calc(calc(100% - 1920px) / 2);
  }

  .main {
    width: 1920px;
  }
}

@media (max-width: 1439px) {
  .about-me {
    gap: 64px;
  }

  .my-skills {
    gap: 64px;
  }
}

@media (max-width: 1290px) {
  .portfolio {
    padding: 156px 0 24px 100px;
    gap: 32px;
  }
}

@media (max-width: 1280px) {
  .header {
    padding: 37px 48px;
  }

  .hero {
    padding: 109px 0 24px 0;
  }

  .about-me {
    padding: 132px 24px 24px 24px;
    justify-content: center;
  }

  .my-skills {
    @include display-column($ai: center, $g: 24px);
    padding: 132px 0 24px 0;
  }
}

@media (max-width: 1180px) {
  .portfolio {
    padding: 156px 0 24px 24px;
  }

  .contact {
    padding: 156px 24px 48px 0;
    gap: 32px;
  }

  .footer {
    padding: 66px 24px;
    height: unset;
    flex-direction: column;
    justify-content: flex-start;
    gap: 23px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 37px 24px;
  }

  .menu {
    display: flex;
  }
}

@media (max-width: 373px) {
  .portfolio {
    align-items: flex-start;
  }
}

@media (max-height: 910px) {
  .hero {
    gap: 0;
  }
}
