@import "../styles.scss";

main {
  position: relative;
  overflow: hidden;
}

.about-me-shadow {
  position: absolute;
  right: -424px;
  top: 800px;
}

.footer-shadow {
  position: absolute;
  left: -400px;
  top: 3816px;
}
