@import "../styles.scss";

main {
  position: relative;
  overflow: hidden;
}

.hero-shadow {
  @include position(absolute, -64px, 160px);
  z-index: -2;
}

.hero-img {
  @include position(absolute, 144px, 80px);
  z-index: -1;
}

.hero-bg {
  @include position(absolute, -2px, 320px);
  z-index: -1;
}

.about-me-shadow {
  @include position(absolute, unset, 800px);
  right: -424px;
}

.skills-shadow {
  @include position(absolute, -560px, 2000px);
}

.partner-shadow {
  @include position(absolute, unset, 2648px);
  right: 0;
}

.footer-shadow {
  @include position(absolute, -400px, 3816px);
}
