<app-header class="header"></app-header>

<main class="main">
    <img class="hero-shadow" src="../assets/img/hero_shadow.svg" alt="hero-shadow">
    <img class="hero-img" src="../assets/img/hero.png" alt="hero">
    <img class="hero-bg" src="../assets/img/hero_bg.svg" alt="hero-bg">

    <img class="about-me-shadow" src="../assets/img/about_me_shadow.svg" alt="about-me-shadow">
    <img class="skills-shadow" src="../assets/img/skills_shadow.svg" alt="skills-shadow">
    <img class="partner-shadow" src="../assets/img/partner_shadow.svg" alt="partner-shadow">
    <img class="footer-shadow" src="../assets/img/footer_shadow.svg" alt="footer-shadow">

    <app-hero id="hero" class="hero"></app-hero>
    <app-about-me id="about-me" class="about-me"></app-about-me>
    <app-my-skills id="my-skills" class="my-skills"></app-my-skills>
    <app-portfolio id="portfolio" class="portfolio"></app-portfolio>
    <app-contact id="contact" class="contact"></app-contact>

    <!-- mobile hero height -->
    <!-- mobile hero animations -->
    <!-- mobile header menu + button -->
</main>

<app-footer class="footer"></app-footer>

<router-outlet></router-outlet>