@import "../../styles.scss";

.content {
  @include max-size(960px, 540px);
  @include display-column($g: 24px);
  overflow-y: scroll;
}

// to edit
::-webkit-scrollbar {
  display: none;
}

.title {
  @include font(40px, 700, 48px);
  margin: 0;
}

.close-btn {
  @include size(30px, 27.72px);
  @include position($p: absolute, $t: 24px, $r: 24px);
  cursor: pointer;
  content: url("../../assets/img/close_button.svg");

  &:active {
    content: url("../../assets/img/close_transition.svg");
  }
}

.subcontent {
  @include display-column($g: 16px);
}

h2 {
  @include font(24px, 700, 28.8px);
}

p {
  @include font(16px, 400, 24px);
}

@media (max-width: 1280px) {
  .content {
    max-width: 560px;
  }

  .title {
    @include font(28px, 700, 33.6px);
  }

  h2 {
    @include font(20px, 700, 24px);
  }
}

@media (max-width: 768px) {
  // .content {}

  .title {
    @include font(24px, 700, 28.8px);
  }

  h2 {
    @include font(16px, 700, 19.2px);
  }
}

@media (max-width: 398px) {
  .content {
    max-width: 207px;
  }

  .title {
    @include font(18px, 700, 21.6px);
  }

  h2 {
    @include font(16px, 700, 19.2px);
  }
}
