@import "../../styles.scss";

.skill-group {
  @include display-flex(flex-start, flex-start);
  width: 664px;
  flex-wrap: wrap;
  gap: 41px 88px;
}

.text-box {
  @include display-column($ai: flex-end, $g: 40px);
  text-align: right;
}

.title-vector-box {
  @include display-flex($jc: flex-start);
  gap: 32px;
}

.w-395 {
  width: 395px;
}

.another-skill-box {
  @include display-column($ai: flex-end, $g: 24px);
  padding-right: 100px;
}

.exp-text {
  @include font(16px, 400, 19.2px);
  width: 471px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.skill-button-box {
  @include display-column($ai: flex-end, $g: 40px);
  width: 410px;
}

.another-skill-subbox {
  @include display-column($ai: flex-end, $g: 16px);
}

.another-skill-title {
  @include font(32px, 700, 38.4px);
  margin: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.break {
  display: none;
}

.another-skill-text {
  @include font(16px, 400, 19.2px);
  margin: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.shadow {
  @include position($p: absolute, $l: -560px, $b: -680px);
  z-index: -1;
}

.mobile {
  display: none;
}

@media (max-width: 1439px) {
  .skill-group {
    width: 580px;
    gap: 41px 56px;
  }

  .exp-text {
    width: 400px;
  }
}

@media (max-width: 1280px) {
  .skill-group {
    gap: 41px 48px;
  }

  .text-box {
    width: 100%;
    align-items: flex-end;
    gap: 32px;
  }

  .title-vector-box {
    box-sizing: border-box;
    padding-left: 40px;
    justify-content: flex-end;
    gap: 16px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .w-395 {
    @include width(100%, 395px);
  }

  .exp-text {
    @include width(100%, 418px);
    box-sizing: border-box;
    padding: 0 40px;
  }

  .skill-group {
    @include width(100%, 576px);
    box-sizing: border-box;
    padding: 0 24px;
    justify-content: center;
    gap: 41px 39px;
  }

  .another-skill-box {
    padding: 8px 24px 0 24px;
  }

  .skill-button-box {
    width: 100%;
    align-items: center;
    gap: 32px;
  }

  .another-skill-text {
    max-width: 342px;
  }

  .shadow {
    width: 714.8px;
    left: -520px;
    bottom: -240px;
  }
}

@media (max-width: 768px) {
  .another-skill-title {
    @include font(24px, 700, 28.8px);
  }
}

@media (max-width: 371px) {
  .break {
    display: unset;
  }
}
