<section class="my-skills">
    <div class="my-skills-box">
        <div class="my-skills-box-left">
            <div class="skill">
                <img class="skill-logo" src="../../assets/img/html.svg" alt="">
                <span class="skill-text">HTML</span>
            </div>
            <div class="skill">
                <img class="skill-logo" src="../../assets/img/css.svg" alt="">
                <span class="skill-text">CSS</span>
            </div>
            <div class="skill">
                <img class="skill-logo" src="../../assets/img/javascript.svg" alt="">
                <span class="skill-text">JavaScript</span>
            </div>
        </div>
    </div>
</section>