@import "../../styles.scss";

.skill-group {
  @include display-flex(flex-start, flex-start);
  width: 664px;
  flex-wrap: wrap;
  gap: 41px 88px;
}

.text-box {
  @include display-column($ai: flex-end, $g: 40px);
  text-align: right;
}

.title-vector-box {
  display: flex;
  gap: 32px;
}

.w-395 {
  width: 395px;
}

.another-skill-box {
  @include display-column($ai: flex-end, $g: 24px);
  padding-right: 100px;
}

.exp-text {
  @include font(16px, 400, 19.2px);
  width: 471px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.skill-button-box {
  @include display-column($ai: flex-end, $g: 40px);
  width: 410px;
}

.another-skill-subbox {
  @include display-column($ai: flex-end, $g: 16px);
}

.another-skill-title {
  @include font(32px, 700, 38.4px);
  margin: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.another-skill-text {
  @include font(16px, 400, 19.2px);
  margin: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.mobile {
  display: none;
}

@media (max-width: 1408px) {
  .skill-group {
    gap: 41px 48px;
  }
}

@media (max-width: 1290px) {
  .exp-text {
    width: 400px;
  }

  .skill-button-box {
    width: 340px;
  }

  .another-skill-title {
    @include font(24px, 700, 28.8px);
  }
}

@media (max-width: 1180px) {
  .text-box {
    width: 100%;
    gap: 32px;
  }

  .mobile {
    display: flex;
  }

  .title-vector-box {
    gap: 16px;
  }

  .exp-text {
    padding-right: 40px;
  }

  .skill-group {
    width: 100%;
    max-width: 595px;
    gap: 16px 39px;
  }

  .desktop {
    display: none;
  }

  .another-skill-box {
    padding: 8px 40px 0 0;
  }

  .skill-button-box {
    gap: 32px;
  }
}
