@import "../../mixins.scss";
@import "../../styles.scss";

.my-skills {
  // to edit!!!
  height: 100vh;
}

.my-skills-box {
  padding: 124px 100px;
}

.my-skills-box-left {
  @include display-flex(flex-start, flex-start);
  width: 664px;
  height: 404px;
  gap: 88px;
}

.skill {
  @include display-flex($jc: flex-start);
  box-sizing: border-box;
  padding-top: 12px;
  width: 88px;
  height: 101px;
  flex-direction: column;
  gap: 10px;
}

.skill-logo {
  height: 60px;
  object-fit: contain;
}

.skill-text {
  @include font(16px, 700, 19.2px);
  text-align: center;
}
