<main class="main">
    <article class="content">
        <h2 class="headline-2">Impressum</h2>

        <section class="imprint">
            <address class="address">
                Rudolf Johann Sachslehner<br>
                Wiener Straße 6-8/1/21<br>
                3430 Tulln an der Donau<br>
                Österreich
            </address>

            <p>
                Tel.: <a href="tel:+436641922794">+43 664 192 27 94</a><br>
                E-Mail: <a href="mailto:rudolf.sachslehner@gmx.at">rudolf.sachslehner&#64;gmx.at</a>
            </p>

            <p>Plattform der EU-Kommission zur Online-Streitbeilegung:
                <a href="https://ec.europa.eu/odr" target="_blank">https://ec.europa.eu/odr</a>
            </p>

            <p>
                Wir sind zur Teilnahme an einem Streitbeilegungsverfahren
                vor einer Verbraucherschlichtungsstelle weder
                verpflichtet noch bereit.
            </p>
        </section>
    </article>
</main>