@import "../../styles.scss";

.main {
  @include display-flex($ai: flex-start);
  min-height: 100vh;
}

.content {
  @include width(100%, 1920px);
  @include display-column($g: 32px);
  box-sizing: border-box;
  padding: 180px 100px 90px 100px;
  min-height: calc(100vh - 270px);
}

.title {
  @include font(40px, 700, 48px);
}

.imprint {
  @include width(100%, 680px);
  @include font(16px, 400, 24px);
  @include display-column($g: 24px);
}

.address {
  font-style: normal;
}

@media (max-width: 1280px) {
  .content {
    padding: 156px 48px 48px 48px;
    min-height: calc(100vh - 204px);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 156px 24px 48px 24px;
    gap: 24px;
  }
}
