@import "../../styles.scss";

.main {
  padding: 180px 100px 90px 100px;
  min-height: calc(100vh - 270px);
}

.content {
  @include display-column($g: 32px);
  max-width: 680px;
}

.title {
  @include font(40px, 700, 48px);
}

.imprint {
  @include font(16px, 400, 24px);
  @include display-column($g: 24px);
}

.address {
  font-style: normal;
}

@media (max-width: 1280px) {
  .main {
    padding: 156px 48px 48px 48px;
    min-height: calc(100vh - 204px);
  }
}

@media (max-width: 768px) {
  .main {
    padding: 156px 24px 48px 24px;
  }

  .content {
    gap: 24px;
  }
}
