@import "../../../styles.scss";

.form-box {
  @include display-column($ai: center, $g: 16px);
}

.contact-form {
  @include display-column($g: 32px);
  width: 100%;
}

.input-box {
  @include input-box();
}

.done {
  .contact-input {
    border: 1px solid #70e61c;
  }

  .contact-textarea {
    border: 1px solid #70e61c;
  }

  .check {
    display: unset;
  }
}

.error {
  height: 77px;

  .contact-input {
    border: 1px solid #e61c40;

    &::placeholder {
      color: transparent;
    }
  }

  .callsign {
    display: unset;
  }
}

input,
textarea {
  &:hover {
    border: 1px solid $prim1;
  }

  &::placeholder {
    color: #ffffff;
  }

  &:focus {
    border: 1px solid $prim1;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }
}

.contact-input {
  @include contact-input();
}

.check {
  @include input-icon(25px, 12.5px);
}

.callsign {
  @include input-icon();
}

.hint {
  @include font(14px, 400, 16.8px);
  color: #e61c40;
}

.textarea-box {
  @include input-box(202px);
}

.empty {
  height: 229px;

  .contact-textarea {
    border: 1px solid #e61c40;

    &::placeholder {
      color: transparent;
    }
  }

  .callsign {
    display: unset;
  }
}

.contact-textarea {
  @include contact-input(202px);

  &::-webkit-resizer {
    background-image: url("../../../assets/img/resizer.svg");
    background-repeat: no-repeat;
    background-size: 13px 13px;
  }
}

.privacy-policy-box {
  @include display-column($g: 8px);
  width: 100%;
}

.privacy-policy-line {
  @include display-flex(flex-start, center);
  height: 27px;
  gap: 8px;
}

.checkbox {
  @include size(24px, 24px);
  object-fit: contain;
  cursor: pointer;

  &:hover {
    background-color: #183771;
    border-radius: 38px;
  }
}

.privacy-policy-text {
  @include font(14px, 400, 16.8px);
  margin: 0;
}

.privacy-policy-link {
  color: $prim2;

  &:hover {
    color: $prim2;
    text-decoration: underline;
  }
}

.check-hint {
  @include font(14px, 400, 16.8px);
  color: #e61c40;
  opacity: 0;
}

.show {
  opacity: 1;
}

@media (max-width: 1180px) {
  .form-box {
    gap: 12px;
  }

  .input-box {
    height: 40px;
  }

  .error {
    height: 67px;
  }

  .contact-input {
    height: 40px;
    min-height: 40px;
  }

  .check {
    top: 7.5px;
  }

  .callsign {
    top: 7.475px;
  }

  .textarea-box {
    height: 162px;
  }

  .empty {
    height: 189px;
  }

  .contact-textarea {
    height: 162px;
    min-height: 162px;
  }

  .privacy-policy-line {
    height: fit-content;
  }

  .privacy-policy-link {
    &:hover {
      text-decoration: none;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .check-hint {
    width: 100%;
    text-align: center;
  }
}
