<div class="link-group">
    <a href="#about-me" class="link">
        <span>About me</span>
        <img src="../../../../assets/img/header_link_underline.svg" alt="underline">
    </a>
    <a href="#my-skills" class="link">
        <span>My skills</span>
        <img src="../../../../assets/img/header_link_underline.svg" alt="underline">
    </a>
    <a href="#portfolio" class="link">
        <span>Portfolio</span>
        <img src="../../../../assets/img/header_link_underline.svg" alt="underline">
    </a>
    <a href="#contact" class="link">
        <span>Contact</span>
        <img src="../../../../assets/img/header_link_underline.svg" alt="underline">
    </a>
</div>