@import "../../../../styles.scss";

.link-group {
  @include display-column($g: 29px);
  width: 100%;
  max-width: 144px;
}

@media (max-height: 568px) {
  .link-group {
    padding: 24px;
    max-width: 296px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
