@import "../../../../styles.scss";

.link-group {
  @include display-column($g: 29px);
  @include width(100%, 144px);
}

@media (max-height: 568px) {
  .link-group {
    padding: 24px;
    max-width: unset;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}
