@mixin display-flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin display-column($jc: flex-start, $ai: flex-start, $g: 35px) {
  @include display-flex($jc, $ai);
  flex-direction: column;
  gap: $g;
}

@mixin font($fs: 23px, $fw: 400, $lh: 27.6px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin input-box($h: 50px) {
  @include size(100%, $h);
  @include display-column($g: 10px);
  position: relative;
  transition: all 300ms ease-out;
  overflow-y: hidden;
}

@mixin contact-input($h: 50px) {
  @include font(16px, 400, 19.2px);
  box-sizing: border-box;
  padding: 15px 65px 15px 25px;
  width: 100%;
  height: $h;
  min-height: $h;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid $prim2;
  border-radius: 10px;
}

@mixin input-icon($s: 25.05px, $t: 12.475px) {
  @include size($s, $s);
  display: none;
  position: absolute;
  top: $t;
  right: 25px;
}

@mixin position($p: absolute, $l: 0, $t: 0) {
  position: $p;
  left: $l;
  top: $t;
}

@mixin size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}
