$prim1: #4b47ff;
$prim2: #00bee8;

body {
  margin: 0;
  height: 100vh;
  // min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #141d2f;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $prim1;
  }
}

.c-prim-1 {
  color: $prim1;
}

.c-prim-2 {
  color: $prim2;
}
