@import "./mixins.scss";

$prim1: #4b47ff;
$prim2: #00bee8;
$primBg: #141d2f;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  // min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: $primBg;
  position: relative;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $prim1;
  }
}

// in use?
.c-prim-1 {
  color: $prim1;
}

.c-prim-2 {
  color: $prim2;
}

button {
  border: unset;
  cursor: pointer;
}

.prim-btn {
  @include font();
  padding: 15px 30px;
  color: white;
  background-color: $prim1;
  border-radius: 10px;
}

.social-btn {
  box-sizing: border-box;
  padding: 0;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    background-size: 40px auto;
  }
}

.git-hub-btn {
  background-image: url("./assets/img/git_hub_icon.svg");
}

.email-btn {
  background-image: url("./assets/img/email_icon.svg");
}

.linked-in-btn {
  background-image: url("./assets/img/linked_in_icon.svg");
}
