@import "../../../styles.scss";

.study-skill {
  @include display-column($jc: space-between, $ai: center, $g: 10px);
  @include position($p: relative, $l: 0, $t: 0);
  box-sizing: border-box;
  padding-top: 12px;
  width: 88px;

  &:hover {
    .skill-logo path {
      fill: #ffffff;
    }

    .skill-text {
      color: white;
    }

    .special-interest {
      opacity: 1;
    }
  }
}

.skill-logo path {
  transition: all 300ms ease-in-out;
}

.skill-text {
  @include font(16px, 700, 19.2px);
  text-align: center;
  color: $prim2;
  transition: all 300ms ease-in-out;
}

.special-interest {
  @include size(188px, 129px);
  @include position($p: absolute, $l: 0, $t: -101px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

@media (max-width: 1280px) {
  .study-skill {
    cursor: pointer;

    &:hover {
      .skill-logo path {
        fill: $prim2;
      }

      .special-interest {
        opacity: 0;
      }
    }

    &:active {
      .skill-logo path {
        fill: #ffffff;
      }

      .special-interest {
        opacity: 1;
      }
    }
  }

  .skill-text {
    color: #ffffff;
  }
}
