@import "../my-skills.component.scss";

.skill {
  @include display-column($ai: center, $g: 10px);
  box-sizing: border-box;
  padding-top: 12px;
  width: 88px;
}

.skill-logo {
  height: 60px;
  object-fit: contain;
}

.skill-text {
  @include font(16px, 700, 19.2px);
  text-align: center;
}
