@import "../my-skills.component.scss";

.skill {
  @include display-flex($jc: flex-start);
  box-sizing: border-box;
  padding-top: 12px;
  width: 88px;
  flex-direction: column;
  gap: 10px;
}

.skill-logo {
  height: 60px;
  object-fit: contain;
}

.skill-text {
  @include font(16px, 700, 19.2px);
  text-align: center;
}
