@import "../../../styles.scss";

.skill {
  @include display-column($jc: space-between, $ai: center, $g: 10px);
  @include position(relative, 0, 0);
  box-sizing: border-box;
  padding-top: 12px;
  width: 88px;
  transition: all 100ms ease-in-out;

  &:hover {
    padding-top: 0;
    gap: 22px;
  }
}

.skill-logo {
  height: 60px;
  object-fit: contain;
}

.skill-text {
  @include font(16px, 700, 19.2px);
  text-align: center;
}

@media (max-width: 768px) {
  .skill {
    height: 100px;
    justify-content: flex-end;
  }

  .skill-logo {
    height: 48px;
  }

  .skill-text {
    @include font(14px, 700, 16.8px);
  }
}
