<div [ngStyle]="setStyle('flex-direction', 'row-reverse', 'row')" class="project">
    <div class="img-box">
        <img class="img" src="{{ project.path }}" [alt]="getAlt(project)">
    </div>

    <div [ngStyle]="setStyle('align-items', 'flex-end', 'flex-start')" class="content">
        <div [ngStyle]="setStyle('align-items', 'flex-end', 'flex-start')" class="text-box">
            <h3 class="title">{{ project.name }}</h3>
            <span class="skills">{{ project.skills }}</span>
            <p [ngStyle]="setStyle('text-align', 'right', 'left')" class="description">
                {{ project.description }}
            </p>
        </div>

        <div class="button-box">
            <button class="sec-btn">Live test</button>
            <button class="tert-btn">Github</button>
        </div>
    </div>
</div>