<div [ngStyle]="setStyle('flex-direction', 'row-reverse', 'row')" class="project-box">
    <div class="project-box-left">
        <img src="{{ project.path }}" [alt]="getAlt(project)">
    </div>
    <div class="project-box-right">
        <div [ngStyle]="setStyle('align-items', 'flex-end', 'flex-start')" class="project-info-box">
            <h3 class="project-title">{{ project.name }}</h3>
            <span class="project-skills">{{ project.skills }}</span>
            <p [ngStyle]="setStyle('text-align', 'right', 'left')" class="project-description">
                {{ project.description }}
            </p>
        </div>
        <div [ngStyle]="setStyle('justify-content', 'flex-end', 'flex-start')" class="project-button-box">
            <button class="live-test-btn">Live test</button>
            <button class="github-btn">Github</button>
        </div>
    </div>
</div>